.navbar-brand {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0px;
  margin-left: 6%;
}

#navbarNav {
  margin-left: 30%;

}

#nav-custom {
  font-family: Arial, Helvetica, sans-serif;
}
