#inp {
  border-radius: 0;
  border-color: black;
}

#sub-now {
  border-radius: 0;
  width: 140px;
  position: relative;
  background-color: rgb(75, 75, 104);
  top: 8px;
  margin-left: 10px;
}

#sub-now:hover {
  border-color: rgb(67, 67, 97);
  background-color: #59627a;
  color: white;
}

#button-mit {
  border-radius: 0;
  width: 160px;
  position: relative;
  top: 8px;
  position: relative;
  background-color: rgb(67, 67, 97);
  margin-left: 55%;
}
#button-mit:hover {
  border-color: rgb(67, 67, 97);
  background-color: #202a46;
  color: white;
}
